[submodule "vendor/SDL_mixer"]
	path = vendor/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer
[submodule "Avalon/vendor/spdlog"]
	path = Avalon/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Avalon/vendor/glfw"]
	path = Avalon/vendor/glfw
	url = https://github.com/WoozChucky/glfw
[submodule "Avalon/vendor/imgui"]
	path = Avalon/vendor/imgui
	url = https://github.com/WoozChucky/imgui
[submodule "Avalon/vendor/glm"]
	path = Avalon/vendor/glm
	url = https://github.com/WoozChucky/glm